header{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .header-left{
        position: relative;
    }
    ul{
        display: flex;
        list-style: none;
        // justify-content: space-around;
        li{
            padding: {
                right: 50px;
            };
        }
    }
}
.maru{
    position: absolute;
    right: 1055px;
    top: -40px;
}