*{
    margin: 0;
    padding: 0;
}

@import"_header.scss";

.top-page{
    
    .top-visual{
            text-align: center;
            // @import"_slider.scss";
        }
    .top-text{
        position: relative;
        .text{
            position: absolute;
            right: 148px;
            top: -218px;
        }
    }
    p{
        padding: {
            top: 10px;
            left: 165px;
        };
    }
}

/* PC用のCSSはメディアクエリの外に記述する */
@media screen and (max-width: 768px) {
	/* 959px以下に適用されるCSS（タブレット用） */


}
@media screen and (max-width: 767px) {
	/* 480px以下に適用されるCSS（スマホ用） */



}

@import"_footer.scss";