*{
    margin: 0;
    padding: 0;
}

@import"_header.scss";

.top-page{
    .top-visual{
            text-align: center;
            // @import"_slider.scss";
        }
    .top-text{
        position: relative;
        .text{
            position: absolute;
            right: 148px;
            top: -218px;
        }
    }
    p{
        padding: {
            top: 10px;
            left: 165px;
        };
    }
}
.latestarticles{
    h2{
        margin: {
            top:50px;
            bottom: 25px;
        };
    }
}
.cardbox{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: {
        bottom: 30vh;
    };
}
.cardbox > .col1 {
    padding: 30px;
    height: 50vh;
    /* border: 1px black solid; */
    position: relative;
    overflow: visible;
    width: 22%;
    display: block;
    transition-duration: 0.5s;
}
.col1:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
    box-shadow: 0 0 8px gray;
}
.col1 > input, .readmore{
    position: absolute;
    bottom: 20px;
    right: 20px;
}





/* PC用のCSSはメディアクエリの外に記述する */
@media screen and (max-width: 768px) {
	/* 959px以下に適用されるCSS（タブレット用） */


}
@media screen and (max-width: 767px) {
	/* 480px以下に適用されるCSS（スマホ用） */


}

@import"_footer.scss";